*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode','Geneva',' Verdana', 'sans-serif';
}

/* Tags genéricas/ globais  */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
} 

/*  Lugar onde será a navegação, contendo logo, links e direcionamentos de páginas. */ 

nav {
    /* position: fixed; */
    width: 100%;
   /*  background-color:#; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    background-color: #4152a0;
}

nav img {
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    /* color:rgb(21, 21, 100); cor anterior */
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color: #FDC93B;
}

/* Lugar odne vamos desenvolver todo o home */

#home {
    /* background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7),url("img/javier-trueba-iQPr1XkF5F0-unsplash.jpg")); */
    background-image: url('img/javier-trueba-iQPr1XkF5F0-unsplash.jpg');
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    border-radius: 5px;

}

#home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;

}

#home p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;

}

#home .btn {
    margin-top: 30px;
} 

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue {
    color: #fff;
    background-color: #4152a0;
    transition: 0.3s ease;
}

#home a.blue:hover {
    color:rgb(21,21,100);
    background-color: #fff;
}

#home a.yellow {
    color: #fff;
    background-color: #ef8226;
    transition: 0.3s ease;
}

#home a.yellow:hover {
    color:#FDC93B;
    background-color:  #fff;
}

#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
    background-color: #ef8226
    
}


#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding-bottom: 20px;
}

#features .fea-box {
    background-color: #F9F9FF;
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

#features .fea-box img {
    font-size: 2.3rem;
    color: rgb(44,44,80);
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 70px 0;
}

#features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
    text-align: center;
}
#base{
    text-align:center;
    background-image: url(img/base.jpg);
    background-size: cover;
    /* background-repeat: ; */
    padding:5vw 8vw 0 8vw; 
}

#base .text {
    
    text-align:justify;
    display:inline-block;
    box-sizing: border-box;
    border-radius:10px;
    margin: 10px;
    background-color:#4152a0;
    box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.15);
     
}
#base .text h3{
    font-size: 1.2rem;
    color: #F9F9FF;
    padding: 9px 0 10px 0;
    margin: 10px;
    text-align: center;
    
}
#base .text p{
    font-size:15px;
    color: #F9F9FF;
    padding: 9px 0 40px 0;
    margin: 10px;
}
#base .text h4{
    color: #F9F9FF;
    margin: 10px;
    padding: 0px
}

#check{
    display: inline-block;}

fieldset {
    border: 0;
 }    

input{
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}
select{
    font-family: sans-serif;
    font-size: 1em;
    color: #ef8226;
    border-radius: 5px;
} 
textarea{
    font-family: sans-serif;
    font-size: 1em;
    color: #ef8226;
    border-radius: 5px;
}  

.grupo:before {
    display: table;}
.grupo:after{
    display: table;
    clear: both;
}    
.campo {
    margin-bottom: 1em;
}
.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}
fieldset .grupo{
    float:  left;
    margin-right: 1em;
}
fieldset .campo {
    float:  left;
    margin-right: 1em;
}
.campo input[type="text"]{
    padding: 0.2em;
    border: 1px solid #4152a0;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
.campo input[type="email"]{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
.campo select {
    padding: 0.2em;
    border: 1px solid #ef8226;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
.campo textarea {
    padding: 0.2em;
    border: 1px solid #4152a0;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
.campo select option {
    padding-right: 1em;
}
.campo input:focus {
    background: #E0E0F8;
}
.campo select:focus {
    background: #E0E0F8;
}
.campo textarea:focus {
    background: #E0E0F8;
}




button {
    width: 10rem;
    padding: 5px;
    margin-top: 10px;
    background: linear-gradient(to right, #ef8226 50%, #4152a0 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color:#FFF;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 5px 5px 5px 5px;
    margin-left: -5px;
    margin-top: 15px;
}
button:hover{
    background-position: left bottom;
    transition:1.0s;
}

#form_map {
    
    justify-content: space-between;
    margin: 10px;
}

#form_map #map {
    text-align: center;
}

#contact img {
    width: 50px;
}

#contact {
    display: flex;
}

#contact h3 {
    width: 60%;
}

#contact a {
    width: 40%;
    display: flex;
    justify-content: space-between;
}