*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Tags genéricas/ globais  */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
} 

/*  Lugar onde será a navegação, contendo logo, links e direcionamentos de páginas. */ 

nav {
    /* position: fixed; */
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

nav img {
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color: #FDC93B;
}

/* Lugar odne vamos desenvolver todo o home */

#home {
    /* background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7),url("img/javier-trueba-iQPr1XkF5F0-unsplash.jpg")); */
    background-image: url(img/javier-trueba-iQPr1XkF5F0-unsplash.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    border-radius: 5px;

}

#home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;

}

#home p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;

}

#home .btn {
    margin-top: 30px;
} 

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue {
    color: #fff;
    background-color: rgb(21,21,100);
    transition: 0.3s ease;
}

#home a.blue:hover {
    color:rgb(21,21,100);
    background-color: #fff;
}

#home a.yellow {
    color: #fff;
    background-color: #FDC93B;
    transition: 0.3s ease;
}

#home a.yellow:hover {
    color:#FDC93B;
    background-color:  #fff;
}

#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
    background-color: rgb(223, 222, 222);
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

#features .fea-box {
    background-color: #F9F9FF;
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

#features .fea-box img {
    font-size: 2.3rem;
    color: rgb(44,44,80);
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 70px 0;
}

#features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}